workflows/_api_v1_agendamento [POST].json
{
  "name": "/api/v1/agendamento [POST]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/api/v1/agendamento",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "dbbb2a98-6f26-44a5-a1e4-5d9d4e0136af",
      "name": "Webhook",
      "webhookId": "c0359741-62fc-4ec9-9096-07e4fe4fc62d"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "appointments",
          "mode": "list",
          "cachedResultName": "appointments"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.body['user_id '] }}",
            "scheduled_for": "={{ $json.body.scheduled_for }}",
            "status": "pendente",
            "title": "={{ $json.body['title '] }}",
            "description": "={{ $json.body.description }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "scheduled_for",
              "displayName": "scheduled_for",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        464,
        -144
      ],
      "id": "47583df3-56e3-41ba-bcb5-0f99dd7cfcbd",
      "name": "Insert agendamento",
      "credentials": {
        "postgres": {
          "id": "KgoCf6R9p3ug2Zek",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Acessamos os dados diretamente do nó de INSERT\nconst row = $('Insert agendamento').first().json;\n\nconst title = (row?.title || \"\").trim();\nconst scheduledForIso = row?.scheduled_for;\n\nif (!title) throw new Error(\"title não encontrado no nó Insert agendamento.\");\nif (!scheduledForIso) throw new Error(\"scheduled_for não encontrado no nó Insert agendamento.\");\n\n// Converte a string ISO para o formato brasileiro usando Luxon (DateTime)\nconst dt = DateTime.fromISO(scheduledForIso).setZone(\"America/Sao_Paulo\");\n\nif (!dt.isValid) throw new Error(`scheduled_for inválido: ${scheduledForIso}`);\n\nconst dateBr = dt.toFormat(\"dd/LL/yyyy\");\nconst timeBr = dt.toFormat(\"HH:mm\");\n\n// Retorna apenas a string de resposta formatada\nreturn [{\n  reply: `${title} agendado para ${dateBr} às ${timeBr}.`\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -144
      ],
      "id": "331e7e02-6759-4d43-b7f1-54fc31c5fecc",
      "name": "Reply"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5239ca94-66ae-4efb-bde3-765716d07fee",
              "leftValue": "={{ $json.body.confirmar.toLowerCase() }}",
              "rightValue": "sim",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "94ce2d82-8595-419a-a89a-8cd0e2bc39fe",
      "name": "Confirmar?"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "appointment_drafts",
          "mode": "list",
          "cachedResultName": "appointment_drafts"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        -144
      ],
      "id": "9b4447cb-b0f3-4381-8fb8-5a65aa690680",
      "name": "Delete draft - sim",
      "credentials": {
        "postgres": {
          "id": "KgoCf6R9p3ug2Zek",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "appointment_drafts",
          "mode": "list",
          "cachedResultName": "appointment_drafts"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "user_id",
              "value": "={{ $json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        464,
        112
      ],
      "id": "221742be-fa44-40f0-9180-3c1d94c3757a",
      "name": "Delete draft - nao",
      "credentials": {
        "postgres": {
          "id": "KgoCf6R9p3ug2Zek",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b72ef0e8-60dc-4882-aea2-783372e352c6",
              "name": "reply",
              "value": "Agendamento cancelado.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        112
      ],
      "id": "a4e93cb4-318b-4f13-88be-a46505cfb507",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1088,
        -144
      ],
      "id": "8bfd15ea-db2b-466d-9ba3-c6fb9a9b1122",
      "name": "Respond to Webhook - sim"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        112
      ],
      "id": "4a8af8e9-66f3-49e7-81aa-228953c133b6",
      "name": "Respond to Webhook - nao"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        144
      ],
      "id": "723defd8-260d-484e-a3e5-4d67aa83b8c1",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "content-type": "application/json",
            "user-agent": "axios/1.12.0",
            "content-length": "132",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "localhost:5678",
            "connection": "close"
          },
          "params": {},
          "query": {},
          "body": {
            "user_id ": "8365541e-0091-4f20-ad2f-bb91ae4c6c72",
            "title ": "barzinho",
            "description": "",
            "scheduled_for": "2026-02-07T18:00:00-03:00",
            "confirmar": "sim"
          },
          "webhookUrl": "http://localhost:5678/webhook/api/v1/agendamento",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Confirmar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert agendamento": {
      "main": [
        [
          {
            "node": "Delete draft - sim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply": {
      "main": [
        [
          {
            "node": "Respond to Webhook - sim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar?": {
      "main": [
        [
          {
            "node": "Insert agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete draft - nao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete draft - sim": {
      "main": [
        [
          {
            "node": "Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete draft - nao": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook - nao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e0be4993-8e74-41d2-80af-1eab6de58631",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2242d851dc1cc955076f269156dad02e32d76bd72bd325d8e12fdcc06350a6c8"
  },
  "id": "UkR_PmKJxskrhqeSgDIY1",
  "tags": []
}