workflows/_api_v1_bloqueio.json
{
  "name": "/api/v1/bloqueio",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/api/v1/bloqueio",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e0158a10-144a-45ae-a0ba-7cab607eb7b8",
      "name": "Webhook",
      "webhookId": "7a06b788-347b-45fb-b293-f4f2aeefd13b"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "is_blocked": true,
            "id": "={{ $json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "is_blocked",
              "displayName": "is_blocked",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        0
      ],
      "id": "1ea27b3b-3953-4c71-8a5e-3d5b5f82ebef",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "KgoCf6R9p3ug2Zek",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $('Webhook').item.json.body.email }}"
            },
            {
              "column": "id",
              "value": "={{ $json.body.user_id }}"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        0
      ],
      "id": "bc41e0bd-4cd9-47b9-873f-1e880cbdd404",
      "name": "Select user",
      "credentials": {
        "postgres": {
          "id": "KgoCf6R9p3ug2Zek",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "content-type": "application/json",
            "user-agent": "axios/1.12.0",
            "content-length": "50",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "localhost:5678",
            "connection": "close"
          },
          "params": {},
          "query": {},
          "body": {
            "user_id": "d30db0e0-a938-4e61-9a96-842bc9733b6c"
          },
          "webhookUrl": "http://localhost:5678/webhook/api/v1/desbloqueio",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Select user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select user": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "da1207a0-4c1b-4fc2-ad87-9c8c7a6f6c10",
  "meta": {
    "instanceId": "2242d851dc1cc955076f269156dad02e32d76bd72bd325d8e12fdcc06350a6c8"
  },
  "id": "JK0mgtIFVgAVxfa1YZeCx",
  "tags": []
}