workflows/_api_v1_agendamento [DELETE].json
{
  "name": "/api/v1/agendamento [DELETE]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "/api/v1/agendamento",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c68c7746-d23a-4b33-89fe-dfb9437bbf2f",
      "name": "Webhook",
      "webhookId": "3177f4fa-0156-482d-90ee-c838861eed87"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "appointments",
          "mode": "list",
          "cachedResultName": "appointments"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('Webhook').item.json.body.appointment_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "4a91b0d1-b5ce-495e-a34b-4a045f4d3870",
      "name": "Delete agendamento",
      "credentials": {
        "postgres": {
          "id": "KgoCf6R9p3ug2Zek",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        0
      ],
      "id": "d66fa2ab-e47b-4b49-9430-5ca77c8cd761",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ffc5eff5-731e-4882-8f07-9a7acf78bc71",
              "name": "reply",
              "value": "Agendamento cancelado!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "40191310-8e1b-4b6d-82bb-ed92c443fc9c",
      "name": "Reply"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "content-type": "application/json",
            "user-agent": "axios/1.12.0",
            "content-length": "79",
            "accept-encoding": "gzip, compress, deflate, br",
            "host": "localhost:5678",
            "connection": "close"
          },
          "params": {},
          "query": {},
          "body": {
            "appointment_id": "1e9ed394-d363-4f2d-960d-588c0ae5ea66",
            "source": "chat | api"
          },
          "webhookUrl": "http://localhost:5678/webhook/api/v1/agendamento",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Delete agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete agendamento": {
      "main": [
        [
          {
            "node": "Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "619e4082-acfa-43f8-9d01-9938df36556b",
  "meta": {
    "instanceId": "2242d851dc1cc955076f269156dad02e32d76bd72bd325d8e12fdcc06350a6c8"
  },
  "id": "NKVJm09H2ioQIhTkcGcxx",
  "tags": []
}