workflows/reminder.worker.json
{
  "name": "Reminder worker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -528,
        16
      ],
      "id": "be11939d-ec1a-41d9-a328-5a5f6925be46",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "with due as (\n  select user_id\n  from public.reminder_state\n  where is_suppressed = false\n    and reminder_count < 2\n    and last_bot_message_at is not null\n    and last_bot_message_at <= now() - interval '15 minutes'\n    and (last_user_message_at is null or last_user_message_at < last_bot_message_at)\n  order by last_bot_message_at asc\n  for update skip locked\n  limit 50\n),\nupd as (\n  update public.reminder_state rs\n  set\n    reminder_count = rs.reminder_count + 1,\n    is_suppressed = case when rs.reminder_count + 1 >= 2 then true else false end,\n    updated_at = now()\n  from due\n  where rs.user_id = due.user_id\n  returning rs.user_id, rs.reminder_count as new_reminder_count\n)\nselect * from upd;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -320,
        16
      ],
      "id": "ebe9c487-ae35-4e94-b8fe-1348b22192e0",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "4HjXaFHkSvAt0BXl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1bddc9ea-d338-48d2-a7d8-884376b9b11c",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        16
      ],
      "id": "7968d06d-5dfb-4f3a-8028-fb76fac54212",
      "name": "Existem usuarios para receber lembretes?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        304,
        -160
      ],
      "id": "3c093bc9-66c5-4bd2-adc0-576fbf589ac8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        304,
        208
      ],
      "id": "f8f0e205-a676-48cb-8c56-dbe62134f8c8",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "insert into public.messages (user_id, direction, content)\nvalues ($1, 'system', $2)\nreturning id, user_id, direction, content, created_at;",
        "options": {
          "queryReplacement": "={{ $json.user_id }}, {{ $json.new_reminder_count === 1\n  ? \"Só passando pra confirmar se você viu minha última mensagem. Se quiser continuar, é só responder por aqui.\"\n  : \"Vou encerrar por aqui por enquanto pra não te incomodar. Quando quiser continuar, é só me chamar.\" }}\n"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        -64
      ],
      "id": "1007cbef-2e6d-4e29-a372-41f7c5c9fb26",
      "name": "Insert message",
      "credentials": {
        "postgres": {
          "id": "4HjXaFHkSvAt0BXl",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Existem usuarios para receber lembretes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existem usuarios para receber lembretes?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Insert message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fd369bf5-7294-40c3-8d53-39a47047aa4a",
  "meta": {
    "instanceId": "6dbbaa0426b3cc8e214d0c256d61a8fe90469867a2e968d3adf53877f3e88124"
  },
  "id": "2_v5TyeVeqd_JTqAk-pUx",
  "tags": []
}